<div class="container">
  <h1>DedevLab thoughts</h1>

  <% if @posts.empty? %>
    <p>Be the first one!</p>
  <% else %>
    <ul>
      <%= render @posts %>
    </ul>
  <% end %>

  <%= turbo_frame_tag(@post) do %>
    <%= link_to 'Leave our thughts', new_post_path(@post), class: 'btn btn-outline-primary' %>
  <% end %>

</div>
