<%= turbo_stream_from :posts %>

<div class="container">
  <h1>DedevLab Thoughts</h1>

  <% if @posts.empty? %>
    <p>Be the first one!</p>
  <% else %>
    <ul id='posts'>
      <%= render @posts %>
    </ul>
  <% end %>

  <%= turbo_frame_tag(@post) do %>
    <%= render 'new_link', post: @post %>
  <% end %>

</div>
